In [ ]:
# install
!apt-get install default-jre
!apt-get install build-essential swig
!pip  install -U h2o

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
default-jre set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 13 not upgraded.
Reading package lists... Done
Building dependency tree
Reading state information... Done
build-essential is already the newest version (12.4ubuntu1).
Suggested packages:
  swig-doc swig-examples swig3.0-examples swig3.0-doc
The following NEW packages will be installed:
  swig swig3.0
0 upgraded, 2 newly installed, 0 to remove and 13 not upgraded.
Need to get 1,100 kB of archives.
After this operation, 5,822 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 swig3.0 amd64 3.0.12-1 [1,094 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 swig amd64 3.0.12-1 [6,460 B]
Fetched 1,100 kB in 1s (1,288 kB/s)
Selecting previously unselected package swig3.0.
(Reading database ... 149406 files and directories currently installed.)
Preparing to unpack .../swig3.0_3.0.12-1_amd64.deb ...
Unpacking swig3.0 (3.0.12-1) ...
Selecting previously unselected package swig.
Preparing to unpack .../swig_3.0.12-1_amd64.deb ...
Unpacking swig (3.0.12-1) ...
Setting up swig3.0 (3.0.12-1) ...
Setting up swig (3.0.12-1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Collecting h2o
  Downloading https://files.pythonhosted.org/packages/d4/d4/5c07504a392e94786e7cf33554d961ac4b2863aa22a07b8579940ea1f6b5/h2o-3.32.0.4.tar.gz (164.6MB)
     |████████████████████████████████| 164.6MB 80kB/s
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied, skipping upgrade: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied, skipping upgrade: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2020.12.5)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.32.0.4-py2.py3-none-any.whl size=164670979 sha256=bfc81783af4060737a46f27d543cae64402c4fa5c3ef41fc0faf241ccdfa55c2
  Stored in directory: /root/.cache/pip/wheels/65/f4/0d/c9bb958d70c2e015c968cb91cbd7f1b486933056d422337d75
Successfully built h2o
Installing collected packages: colorama, h2o
Successfully installed colorama-0.4.4 h2o-3.32.0.4

In [ ]:
import h2o
from h2o.automl import H2OAutoML

h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.10" 2021-01-19; OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.18.04); OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmphc6oviwd
  JVM stdout: /tmp/tmphc6oviwd/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmphc6oviwd/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.4
H2O_cluster_version_age:    1 month
H2O_cluster_name:           H2O_from_python_unknownUser_fjrp2b
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.180 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.10 final
--------------------------  ------------------------------------------------------------------

In [ ]:
# basic h2o automl code sample from http://docs.h2o.ai/h2o/latest-stable/h2o-docs/automl.html#code-examples
import h2o
from h2o.automl import H2OAutoML

h2o.init()

# Import a sample binary outcome train set into H2O
train = h2o.import_file("https://s3.amazonaws.com/erin-data/higgs/higgs_train_10k.csv")

# Identify predictors and response
x = train.columns
y = "response"
x.remove(y)

# For binary classification, response should be a factor
train[y] = train[y].asfactor()

# Run AutoML for 5 base models (limited to 1 hour max runtime by default)
aml = H2OAutoML(max_models=5, seed=1,nfolds=0) # nfolds=0 to disable StackedEnsemble models
aml.train(x=x, y=y, training_frame=train)

# View the AutoML Leaderboard
lb = aml.leaderboard
lb.head(rows=lb.nrows)  # Print all rows instead of default (10 rows)

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "10.0.2" 2018-07-17; OpenJDK Runtime Environment (build 10.0.2+13-Ubuntu-1ubuntu0.18.04.4); OpenJDK 64-Bit Server VM (build 10.0.2+13-Ubuntu-1ubuntu0.18.04.4, mixed mode)
  Starting server from /usr/local/lib/python3.6/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp7k79_q2k
  JVM stdout: /tmp/tmp7k79_q2k/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmp7k79_q2k/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321... successful.

--------------------------  ----------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       Etc/UTC
H2O data parsing timezone:  UTC
H2O cluster version:        3.22.0.2
H2O cluster version age:    23 days
H2O cluster name:           H2O_from_python_unknownUser_wk25c5
H2O cluster total nodes:    1
H2O cluster free memory:    3 Gb
H2O cluster total cores:    2
H2O cluster allowed cores:  2
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.6.7 final
--------------------------  ----------------------------------------

Parse progress: |█████████████████████████████████████████████████████████| 100%
AutoML progress: |████████████████████████████████████████████████████████| 100%

model_id,auc,logloss,mean_per_class_error,rmse,mse
XGBoost_1_AutoML_20181215_162119,0.797073,0.54906,0.304068,0.431171,0.185908
XGBoost_2_AutoML_20181215_162119,0.796544,0.543625,0.333733,0.429592,0.18455
DRF_1_AutoML_20181215_162119,0.768978,0.578924,0.339368,0.44467,0.197731
XRT_1_AutoML_20181215_162119,0.745531,0.596117,0.344969,0.452919,0.205135
GLM_grid_1_AutoML_20181215_162119_model_1,0.714195,0.623876,0.360221,0.466249,0.217388

In [ ]:
model = h2o.import_mojo('/content/GBM_1_AutoML_20210227_171819.zip')

generic Model Build progress: |███████████████████████████████████████████| 100%
Model Details
=============
H2OGenericEstimator :  Import MOJO Model
Model Key:  Generic_model_python_1614639490272_1


Model Summary:

     number_of_trees  ...  max_leaves  mean_leaves
0               59.0  ...        62.0     47.81356

[1 rows x 10 columns]

ModelMetricsBinomialGeneric: generic
** Reported on train data. **

MSE: 0.0010277179634307493
RMSE: 0.03205804054259632
LogLoss: 0.006781425575081886
Mean Per-Class Error: 0.013969748386028824
AUC: 0.99240648968162
AUCPR: 0.9769602263787539
Gini: 0.9848129793632401

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.33024126142364385:

              neg    pos   Error             Rate
0    neg  41419.0    5.0  0.0001    (5.0/41424.0)
1    pos     25.0  675.0  0.0357     (25.0/700.0)
2  Total  41444.0  680.0  0.0007   (30.0/42124.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.330241      0.978261  187.0
1                        max f2   0.269312      0.971388  197.0
2                  max f0point5   0.402698      0.989953  179.0
3                  max accuracy   0.330241      0.999288  187.0
4                 max precision   0.999967      1.000000    0.0
5                    max recall   0.000549      1.000000  399.0
6               max specificity   0.999967      1.000000    0.0
7              max absolute_mcc   0.330241      0.978005  187.0
8    max min_per_class_accuracy   0.017103      0.975714  339.0
9   max mean_per_class_accuracy   0.227888      0.986030  209.0
10                      max tns   0.999967  41424.000000    0.0
11                      max fns   0.999967    699.000000    0.0
12                      max fps   0.000549  41424.000000  399.0
13                      max tps   0.000549    700.000000  399.0
14                      max tnr   0.999967      1.000000    0.0
15                      max fnr   0.999967      0.998571    0.0
16                      max fpr   0.000549      1.000000  399.0
17                      max tpr   0.000549      1.000000  399.0

Gains/Lift Table: Avg response rate:  1.66 %, avg score:  1.66 %

   group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0      1                  0.010018  ...      5917.714286            0.602857
1      2                  0.020012  ...      4768.423657            0.970399
2      3                  0.030007  ...      3146.899638            0.960236
3      4                  0.040001  ...      2339.227808            0.951525
4      5                  0.050019  ...      1850.687640            0.941338
5      6                  0.100133  ...       880.125584            0.896188
6      7                  0.150033  ...       555.092948            0.846897
7      8                  0.210189  ...       369.645423            0.790083
8      9                  0.348637  ...       185.191961            0.656559
9     10                  0.998789  ...         0.121218            0.001231
10    11                  1.000000  ...         0.000000            0.000000

[11 rows x 14 columns]

ModelMetricsBinomialGeneric: generic
** Reported on cross-validation data. **

MSE: 0.006176012971966286
RMSE: 0.07858761334947312
LogLoss: 0.027716624183594288
Mean Per-Class Error: 0.04361315731391047
AUC: 0.9868208388511837
AUCPR: 0.7853439054047168
Gini: 0.9736416777023673

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.32356770150284614:

              neg    pos   Error              Rate
0    neg  41272.0  152.0  0.0037   (152.0/41424.0)
1    pos    179.0  521.0  0.2557     (179.0/700.0)
2  Total  41451.0  673.0  0.0079   (331.0/42124.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.323568      0.758922  199.0
1                        max f2   0.051115      0.801457  310.0
2                  max f0point5   0.892888      0.815304   63.0
3                  max accuracy   0.681783      0.992641  120.0
4                 max precision   0.981397      0.940972   21.0
5                    max recall   0.000269      1.000000  398.0
6               max specificity   0.999895      0.999807    0.0
7              max absolute_mcc   0.323568      0.755081  199.0
8    max min_per_class_accuracy   0.003805      0.954286  374.0
9   max mean_per_class_accuracy   0.007245      0.956387  363.0
10                      max tns   0.999895  41416.000000    0.0
11                      max fns   0.999895    696.000000    0.0
12                      max fps   0.000159  41424.000000  399.0
13                      max tps   0.000269    700.000000  398.0
14                      max tnr   0.999895      0.999807    0.0
15                      max fnr   0.999895      0.994286    0.0
16                      max fpr   0.000159      1.000000  399.0
17                      max tpr   0.000269      1.000000  398.0

Gains/Lift Table: Avg response rate:  1.66 %, avg score:  1.59 %

   group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0      1                  0.010018  ...      5404.354773            0.550560
1      2                  0.020012  ...      3961.778682            0.806243
2      3                  0.030007  ...      2937.422242            0.896317
3      4                  0.040001  ...      2239.230182            0.910849
4      5                  0.050019  ...      1793.566479            0.912284
5      6                  0.100014  ...       868.433488            0.883234
6      7                  0.159766  ...       513.395542            0.834094
7      8                  0.296648  ...       232.765731            0.702163
8      9                  0.299995  ...       230.481421            0.703117
9     10                  0.483525  ...       105.632813            0.519392
10    11                  0.500499  ...        98.659069            0.502131
11    12                  0.665108  ...        49.492420            0.334741
12    13                  0.764505  ...        30.429902            0.236569
13    14                  0.821527  ...        21.376772            0.178584
14    15                  0.926764  ...         7.748208            0.073021
15    16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

Cross-Validation Metrics Summary:

                                     mean  ...    cv_4_valid   cv_5_valid
0                  accuracy    0.99247456  ...     0.9920475   0.99109685
1                       auc     0.9861207  ...      0.985813   0.97466934
2                     aucpr     0.7867678  ...     0.7556364    0.7552762
3                       err   0.007525434  ...  0.0079525225  0.008903134
4                 err_count          63.4  ...          67.0         75.0
5                  f0point5    0.78539795  ...     0.7614943   0.73401165
6                        f1     0.7654533  ...    0.75985664   0.72924185
7                        f2     0.7485348  ...    0.75822604   0.72453374
8            lift_top_group     55.362976  ...     53.806725    55.216133
9                   logloss   0.027716802  ...   0.028165417   0.03522382
10      max_per_class_error    0.26142856  ...    0.24285714   0.27857143
11                      mcc    0.76382285  ...     0.7558185   0.72476035
12  mean_per_class_accuracy     0.8676683  ...     0.8765799    0.8585414
13     mean_per_class_error    0.13233171  ...    0.12342012   0.14145857
14                      mse  0.0061760303  ...  0.0065783286  0.006901985
15                   pr_auc     0.7867678  ...     0.7556364    0.7552762
16                precision     0.8008816  ...    0.76258993   0.73722625
17                       r2    0.62206477  ...    0.59743613    0.5776791
18                   recall     0.7385714  ...    0.75714284    0.7214286
19                     rmse    0.07853138  ...    0.08110689   0.08307818

[20 rows x 8 columns]

See the whole table with table.as_data_frame()

Scoring History:

                timestamp  ... training_lift  training_classification_error
0     2021-02-27 17:19:03  ...      1.000000                       0.983382
1     2021-02-27 17:19:04  ...     59.749343                       0.004439
2     2021-02-27 17:19:04  ...     60.034543                       0.003324
3     2021-02-27 17:19:04  ...     60.034543                       0.002849
4     2021-02-27 17:19:04  ...     59.606743                       0.002303
5     2021-02-27 17:19:04  ...     60.177143                       0.001828
6     2021-02-27 17:19:04  ...     60.177143                       0.001543
7     2021-02-27 17:19:04  ...     60.034543                       0.001329
8     2021-02-27 17:19:05  ...     60.034543                       0.001092
9     2021-02-27 17:19:05  ...     60.034543                       0.001021
10    2021-02-27 17:19:05  ...     60.034543                       0.000902
11    2021-02-27 17:19:05  ...     60.177143                       0.000807
12    2021-02-27 17:19:05  ...     60.177143                       0.000712

[13 rows x 10 columns]

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0    ds_000           497.000977           1.000000    0.421036
1    aq_000            67.805473           0.136429    0.057442
2    ag_003            56.468632           0.113619    0.047838
3    bj_000            51.964798           0.104557    0.044022
4    dd_000            47.531006           0.095636    0.040266
5    al_000            45.887325           0.092328    0.038874
6    ay_008            38.824738           0.078118    0.032891
7    cs_004            38.738621           0.077945    0.032818
8    ee_005            36.960461           0.074367    0.031311
9    bt_000            33.968155           0.068346    0.028776
10   bh_000            28.856304           0.058061    0.024446
11   ck_000            25.483046           0.051274    0.021588
12   ci_000            24.213661           0.048720    0.020513
13   ap_000            22.478016           0.045227    0.019042
14   dn_000            21.003008           0.042259    0.017793
15   ah_000            19.648022           0.039533    0.016645
16   cc_000            18.008135           0.036234    0.015256
17   bx_000            17.056068           0.034318    0.014449
18   aa_000            15.654827           0.031499    0.013262
19     am_0            15.037614           0.030257    0.012739

See the whole table with table.as_data_frame()

In [ ]:
import graphviz

In [ ]:
# save model to mojo and view it as an image
# R code sample and more information available here: http://docs.h2o.ai/h2o/latest-stable/h2o-docs/productionizing.html#viewing-a-mojo-model
# another python example could be found here: https://dzone.com/articles/visualizing-h2o-gbm-and-random-forest-mojo-models

#model = aml.leader # the model that we want to plot it can be any h2o model as long as it's not a StackedEnsemble model
model_path = model.download_mojo(get_genmodel_jar=True)

# download h2o jar 
!wget -c http://h2o-release.s3.amazonaws.com/h2o/rel-xia/2/h2o-3.22.0.4.zip
!unzip -n h2o-3.22.0.4.zip 

!java -cp h2o-3.22.0.4/h2o.jar hex.genmodel.tools.PrintMojo --tree 0 -i $model_path -o model.gv -f 20 -d 3
!dot -Tpng model.gv -o model.png

from IPython.display import display
from PIL import Image

# showing the image in notebook
display(Image.open('model.png'))

NameError: ignored

In [ ]:
# save model to mojo and view it as an image
# R code sample and more information available here: http://docs.h2o.ai/h2o/latest-stable/h2o-docs/productionizing.html#viewing-a-mojo-model
# another python example could be found here: https://dzone.com/articles/visualizing-h2o-gbm-and-random-forest-mojo-models

#model = aml.leader # the model that we want to plot it can be any h2o model as long as it's not a StackedEnsemble model
model_path = model.download_mojo(get_genmodel_jar=True)

# download h2o jar 
!wget -c http://h2o-release.s3.amazonaws.com/h2o/rel-xia/2/h2o-3.22.0.2.zip
!unzip -n h2o-3.22.0.2.zip 

!java -cp h2o-3.22.0.2/h2o.jar hex.genmodel.tools.PrintMojo --tree 0 -i $model_path -o model.gv -f 20 -d 3
!dot -Tpng model.gv -o model.png

from IPython.display import display
from PIL import Image

# showing the image in notebook
display(Image.open('model.png'))

--2021-03-01 23:10:22--  http://h2o-release.s3.amazonaws.com/h2o/rel-xia/2/h2o-3.22.0.4.zip
Resolving h2o-release.s3.amazonaws.com (h2o-release.s3.amazonaws.com)... 52.217.105.92
Connecting to h2o-release.s3.amazonaws.com (h2o-release.s3.amazonaws.com)|52.217.105.92|:80... connected.
HTTP request sent, awaiting response... 404 Not Found
2021-03-01 23:10:22 ERROR 404: Not Found.

unzip:  cannot find or open h2o-3.22.0.4.zip, h2o-3.22.0.4.zip.zip or h2o-3.22.0.4.zip.ZIP.
Error: Could not find or load main class hex.genmodel.tools.PrintMojo
Caused by: java.lang.ClassNotFoundException: hex.genmodel.tools.PrintMojo
Error: dot: can't open model.gv

FileNotFoundError: ignored

In [ ]:
import h2o
import subprocess
from IPython.display import Image

In [ ]:
mojo_file_name = "/content/GBM_1_AutoML_20210227_171819.zip"
h2o_jar_path= '/content/h2o-genmodel.jar'
mojo_full_path = mojo_file_name
gv_file_path = "/content/Generic_model_python_1614639490272_1.zip"

In [ ]:
image_file_name = "/content/my_gbm_tree"

In [ ]:
model.download_mojo(mojo_file_name)

'/content/GBM_1_AutoML_20210227_171819.zip'

In [ ]:
def generateTree(h2o_jar_path, mojo_full_path, gv_file_path, image_file_path, tree_id = 0):
    image_file_path = image_file_path + "_" + str(tree_id) + ".png"
    result = subprocess.call(["java", "-cp", h2o_jar_path, "hex.genmodel.tools.PrintMojo", "--tree", str(tree_id), "-i", mojo_full_path , "-o", gv_file_path ], shell=False)
    result = subprocess.call(["ls",gv_file_path], shell = False)
    if result is 0:
        print("Success: Graphviz file " + gv_file_path + " is generated.")
    else: 
        print("Error: Graphviz file " + gv_file_path + " could not be generated.")

In [ ]:
def generateTreeImage(gv_file_path, image_file_path, tree_id):
    image_file_path = image_file_path + "_" + str(tree_id) + ".png"
    result = subprocess.call(["dot", "-Tpng", gv_file_path, "-o", image_file_path], shell=False)
    result = subprocess.call(["ls",image_file_path], shell = False)
    if result is 0:
        print("Success: Image File " + image_file_path + " is generated.")
        print("Now you can execute the follow line as-it-is to see the tree graph:") 
        print("Image(filename='" + image_file_path + "\')")
    else:
        print("Error: Image file " + image_file_path + " could not be generated.")

In [ ]:
generateTree(h2o_jar_path, mojo_full_path, gv_file_path, image_file_name, 3)

Success: Graphviz file /content/Generic_model_python_1614639490272_1.zip is generated.

In [ ]:
generateTreeImage(gv_file_path, image_file_name, 3)

Success: Image File /content/my_gbm_tree_3.png is generated.
Now you can execute the follow line as-it-is to see the tree graph:
Image(filename='/content/my_gbm_tree_3.png')

In [ ]:
Image(filename='/content/my_gbm_tree_3.png')

TypeError: ignored